VK-TestTask-Infection.xcodeproj/project.xcworkspace/xcuserdata/vitaly.xcuserdatad/UserInterfaceState.xcuserstate
VK-TestTask-Infection.xcodeproj/xcuserdata/vitaly.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
